html {
    font-family: 'Lato', sans-serif;
    background: url('./assets/background.svg') no-repeat, url('./assets/gradient.svg') no-repeat;
    color: #FFFFFF;
    line-height: 0.5;
    text-align: center;
}
html, body {
    margin: 0;
    padding: 0;
}
svg {
    width: 100%;
    height: 100%;
}   
#main {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(1,29,66, 0) 100%);
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navBar {
    height: 100%;
    display: flex;
    text-transform: uppercase;
}
.navBar > a {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
.navBar > a:hover {
    color: #FF1744;
}

.telBlock {
    margin-right: 100px;
}
.link {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* margin-left: 10px; */
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s;
}
.link:hover {
    color: #FF1744;
}
.upperLogo {
    width: fit-content;
    margin-left: 100px;
    margin-top: 10px;
}
.upperLogo > a {
    text-decoration: none;
}
.upperLogo > a > p {
    margin: 16px;
}
.bottomLogo {
    width: fit-content;
    margin-left: 100px;
}
.bottomLogo:nth-last-child() {
    margin-bottom: 0;
}
.bottomLogo > p {
    margin-top: 16px;
    margin-bottom: 16px;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}
.contacts {
    text-align: left;
    margin-left: 80px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.adresses {
    text-align: right;
    line-height: 30px;
    /* font-weight: 300; */
    font-size: 18px;
    margin-right: 100px;
}
.contactsAndLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}